<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#/">Advanced Directives Workshop</a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="#/welcome">Welcome</a></li>
            <li><a href="#/validation">Validations</a></li>
            <li><a href="#/databinding">Data-Binding</a></li>
            <li><a href="#/animations">Animations</a></li>
            <li><a href="#/usecases">UseCases</a></li>
            <li><a href="#/playground">Playground</a></li>
        </ul>

    </div>
</nav>