<div class="container">

    <div class="page-header">
        <h1>Controlling Data Binding</h1>
    </div>

    <div class="lead">
        <p>The ngModel Controller expose a rich API that enable us to take control on data binding.</p>
    </div>
    <form class="form-inline">

        <div class="form-group">
            <input type="text"
                   custom-db
                   ng-model="databinding.someData.data"
                   class="form-control" placeholder="enter some text..."/>
        </div>

        <button ng-click="databinding.changeModelFromScope()" class="btn btn-primary">Change Model</button>

    </form>
    <p class="lead">{{databinding.someData.data }}</p>


</div>